.container {
  background-color: white;
  margin: 50px;
  transition-duration: 0.5s;
  transition-property: all;
}

div#map {
  height: 700px;
}

.ant-card {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 0px;
}

.ant-select-selector {
  border-radius:0px !important;
}

.map-card .ant-card-body {
  padding: 0px;
}

.grid-info-weather {
  box-shadow: none;
}

.info-card {
  /* min-height: 700px; */
  transition-duration: 0.5s;
  transition-property: all;
}

.grid-info-weather .ant-card-body .ant-card-grid {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px;
}

.grid-info-weather .ant-card-body .ant-card-grid .ant-card-meta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-principal-info-weather {
  width: 100% !important;
}

@media (max-width: 768px) {
  .container {
    margin: 10px;
  }
  .info-card {
    min-height: 100px;
  }
}
